@import 'tailwindcss';

.toast-success {
  background-color: #16a34a;
}
.toast-error {
  background-color: #dc2626;
}

.toast-enter-active,
.toast-leave-active {
  transition: all 0.5s cubic-bezier(0.52, 0.02, 0.19, 1.02);
}
.toast-enter-from,
.toast-leave-to {
  opacity: 0;
  transform: translateX(100%);
}
